* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 550px;
  box-sizing: border-box;
  display:flex; 
  flex-direction:column; 
}

.container {
  margin: 10px auto;
  overflow: auto;
  min-height: 550px;
  border: 1px solid steelblue;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  clear: both;
  position: relative;
  min-height: 50px;
}

/*--------------------Card------------------------------*/
.gallery {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
  font-family: arial;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto; 
}

.desc {
  padding: 15px;
  text-align: center;
}

.price {
  color: gray;
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/*--------------------Search------------------------------*/

.searchInputs {
  margin-top: 105px;
  display: flex;
}

.search input {
  background-color: white;
  border: 1;
  border-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  padding: 15px;
  padding-right: 95px;
  align-self: center;
  height: 30px;
  width: 300px;
  position: relative;
  margin: 10px auto;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

#clearBtn {
  cursor: pointer;
}